<main role="main">

   
    <div class="jumbotron">

          <div class="container">
              <div class="row">
                <div class="col">
                    <div style="border-radius:15px !important;" class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                        <div class="m-portlet__head">
                          <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                              <h3 style="color:white !important; text-align: center !important;" class="m-portlet__head-text"> Adam Spor Merkezi </h3>
                            </div>
                          </div>
                          
                        </div>
                        <div class="m-portlet__body">
                          <!--begin::Widget5-->
                          <div class="m-widget4">
                            
                              <div style="background: url(./assets/adam.jpg) !important;background-size: cover !important;background-repeat: no-repeat !important;border-top-left-radius: 15px !important;border-top-right-radius: 15px !important;" class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-warning">
                                <div class="m-widget4__chart" style="height:320px;"> </div>
                              </div>
                            <div class="m-widget4__item">
                              <div class="m-widget4__img m-widget4__img--logo"> <img src="./assets/icons/name.png" alt="">
                              </div>
                              <div style="font-size: 1.1em !important;" class="m-widget4__info"> <span class="m-widget4__title"> ADAM SPOR MERKEZİ </span><br> <span style="font-size: 1.1em !important;" class="m-widget4__sub"> 
                              
                              </span> </div> <span class="m-widget4__ext"> <span class="m-widget4__number m--font-danger"></span>
                              </span>
                            </div>
                            <div class="m-widget4__item">
                              <div class="m-widget4__img m-widget4__img--logo"> <img src="./assets/icons/phone.png" alt="">
                              </div>
                              <div style="font-size: 1.1em !important;" class="m-widget4__info"> <span class="m-widget4__title"> Telefon Numarası </span><br> <span style="font-size: 1.1em !important;" class="m-widget4__sub">
                                  0 222 222 12 12 </span> </div> <span class="m-widget4__ext"> <span class="m-widget4__number m--font-danger"></span>
                              </span>
                            </div>
                            <div class="m-widget4__item">
                              <div class="m-widget4__img m-widget4__img--logo"> <img src="./assets/icons/map.png" alt="">
                              </div>
                              <div style="font-size: 1.1em !important;" class="m-widget4__info"> <span class="m-widget4__title"> Adres </span><br> <span style="font-size: 1.1em !important;" class="m-widget4__sub">
                                  Vişnelik Mahallesi
                                  Sarmaşık Sokak No:1
                                  26020 Odunpazarı/Eskişehir
                                  Türkiye </span> </div> <span class="m-widget4__ext"> <span class="m-widget4__number m--font-danger"></span>
                            </span>
                            </div>
                          </div>
                          <!--end::Widget 5-->
                          </div>
                          </div>
            
                </div>
                <div class="col">
                    <div style="border-radius: 15px !important;" class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
                        <div class="m-portlet__head">
                          <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text m--font-light" style="text-align: center !important;">Genel Bilgiler</h3>
                            
                            </div>
                            
                          
                          </div>
                          
                        </div>
                        <div class="m-portlet__body">
                          <div class="m-widget17">
                            <div style="background: url(../../../../assets/gym.jpg) !important;background-size: cover;background-repeat: no-repeat;" class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-warning">
                              <div class="m-widget17__chart" style="height:320px;"> </div>
                            </div>
                            <div class="m-widget17__stats">
                              <div class="m-widget17__items m-widget17__items-col1">
                                <div class="m-widget17__item"> <span class="m-widget17__icon"> <img src="./assets/icons/fitness.png">
                                  </span> <span style="margin-top: 5px !important;"  class="m-widget17__subtitle"> Kayıtlı Üye Sayısı </span> <span style="font-size: 1.5em !important; font-weight: bold;" class="m-widget17__desc m--font-danger"> {{len}}
                                  </span> </div>
                                <div class="m-widget17__item"> <span class="m-widget17__icon"> <img src="./assets/icons/protein.png">
                                  </span> <span style="margin-top: 0 !important;" class="m-widget17__subtitle"> Ürünler </span> <span style="font-size: 1.2em !important; font-weight: bold;" class="m-widget17__desc m--font-danger"> {{lenUrun}}
                                  </span> </div>
                              </div>
                              <div class="m-widget17__items m-widget17__items-col2">
                                <div class="m-widget17__item"> <span class="m-widget17__icon"> <img src="./assets/icons/calculate.png">
                                  </span> <span style="margin-top: 0 !important;" class="m-widget17__subtitle"> Ortalama Gider </span> <span style="font-size: 1.2em !important; font-weight: bold;" *ngIf="ortalama" class="m-widget17__desc m--font-danger"> {{ortalama.toFixed(2)}} &#8378;
                                  </span> </div>
                                <div class="m-widget17__item"> <span class="m-widget17__icon"> <img src="./assets/icons/growth.png">
                                  </span> <span style="margin-top: 0 !important;" class="m-widget17__subtitle"> Ortalama Üye Ödeme Geliri </span> <span style="font-size: 1.2em !important; font-weight: bold;" class="m-widget17__desc m--font-danger"> {{ortalamaOdeme.toFixed(2)}} &#8378;
                                  </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              </div>
            </div>

    </main>