<main role="main">

  <section class="jumbotron text-center">
    <div style="height: 100% !important;" class="container">
      <p style="text-align: center;font-size:1.6em;">GİDERLERİN GÖSTERİMİ</p>
     
      <canvas #barCanvas></canvas>
      <br>
      <p style="text-align: center;font-size:1.6em;">ÜYE ÖDEME GELİRLERİNİN GÖSTERİMİ</p>
      <canvas #barCanvas2></canvas>
      <div class="container">
        <div class="row">
          <div class="col">
 
          </div>
          <div class="col">
        
          </div>
        </div>
        </div>
    </div>
  </section>

  </main>