<main role="main">

  <section class="jumbotron text-center">
      <div style="height: 100% !important;" class="container">
    <p style="text-align: center;font-size:1.6em;">Yeni Antrenman Ekle</p>
    <form [formGroup]="antrenmanAddForm" (ngSubmit)="add()">
      <fieldset>
     
        <div hidden class="form-group">
          <label class="label-input" for="exampleInputEmail1">Program Id</label>
          <input type="text" id="UyeProgramId" formControlName="UyeProgramId" value="{{UyeProgramId}}" class="form-control" aria-describedby="emailHelp" placeholder="">
        </div>
        <br>
        <div class="form-group">
          <label class="label-input" for="exampleInputEmail1">Hareket Adı</label>
          <select id="AntrenmanAdi" formControlName="AntrenmanAdi" class="form-control" style="text-align: center !important;" id="urunAdi">
              <option  value="PLANK">PLANK</option>
              <option  value="BENCH SIT UPS">BENCH SIT UPS</option>
              <option  value="CRUNCHES">CRUNCHES</option>
              <option  value="INCLINE BENCH SIT UPS">INCLINE BENCH SIT UPS</option>
              <option  value="INCLINE LEG RAISES">INCLINE LEG RAISES</option>
              <option  value="LEG RAISES">LEG RAISES</option>
              <option  value="SIT UPS">SIT UPS</option>
              <option  value="SQUATS">SQUATS</option>
              <option  value="FRONT SQUATS">FRONT SQUATS</option>
              <option  value="LEG PRESS">LEG PRESS</option>
              <option  value="LEG EXTENSION">LEG EXTENSION</option>
              <option  value="SEATED LEG CURLS">SEATED LEG CURLS</option>
              <option  value="LUNGES">LUNGES</option>
              <option  value="STIFF LEGGED DEADLIFT">STIFF LEGGED DEADLIFT</option>
              <option  value="CABLE KICK BACK">CABLE KICK BACK</option>
              <option  value="DUMBELL SQUATS">DUMBELL SQUATS</option>
              <option  value="SUMO DEADLIFT">SUMO DEADLIFT</option>
              <option  value="SEATED CALF RAISES">SEATED CALF RAISES</option>
              <option  value="BENCH PRESS">BENCH PRESS</option>
              <option  value="INCLINE BENCH PRESS">INCLINE BENCH PRESS</option>
              <option  value="DECLINE BENCH PRESS">DECLINE BENCH PRESS</option>
              <option  value="DUMBELL PRESS">DUMBELL PRESS</option>
              <option  value="INCLINE DUMBELL PRESS">INCLINE DUMBELL PRESS</option>
              <option  value="PARALLEL BAR DIPS">PARALLEL BAR DIPS</option>
              <option  value="DUMBELL FLY">DUMBELL FLY</option>
              <option  value="INCLINE DUMBELL FLY">INCLINE DUMBELL FLY</option>
              <option  value="DUMBELL PULLOVERS">DUMBELL PULLOVERS</option>
              <option  value="MACHINE FLY">MACHINE FLY</option>
              <option  value="LOW PULLEY CABLE FLY">LOW PULLEY CABLE FLY</option>
              <option  value="CABLE CROSSOVER">CABLE CROSSOVER</option>
              <option  value="CHIN UPS">CHIN UPS</option>
              <option  value="REVERSE CHIN UPS">REVERSE CHIN UPS</option>
              <option  value="SEATED ROWS">SEATED ROWS</option>
              <option  value="LAT PULLDOWN">LAT PULLDOWN</option>
              <option  value="STRAING ARM LAT PULL">STRAING ARM LAT PULL</option>
              <option  value="BENT OVER BARBELL ROW">BENT OVER BARBELL ROW</option>
              <option  value="BACK LAT PULLDOWN">BACK LAT PULLDOWN</option>
              <option  value="GRIP LAT PULLDOWN">GRIP LAT PULLDOWN</option>
              <option  value="ONE ARM DUMBELL ROW">ONE ARM DUMBELL ROW</option>
            </select>
         
        </div>
        <br>
        <div class="form-group">
          <label class="label-input" for="exampleInputEmail1">Set Sayısı</label>
          <input type="text" id="SetSayisi" formControlName="SetSayisi" class="form-control" aria-describedby="emailHelp" placeholder="Set Sayısı Giriniz...">
        </div>
        <br>
        <div class="form-group">
          <label class="label-input" for="exampleInputEmail1">Tekrar Sayısı</label>
          <input type="text" id="TekrarSayisi" formControlName="TekrarSayisi" class="form-control" aria-describedby="emailHelp" placeholder="Tekrar Sayısı Giriniz...">
        </div>
         <br>
        <button type="submit" class="btn btn-primary" [disabled]="!antrenmanAddForm.valid">Antrenman Ekle</button>
      </fieldset>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </form>
  </div>
</section>

</main>